@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply no-scrollbar bg-gradient-to-r from-green-900 to-green-500 text-white tracking-wide breakpoint:items-center
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }
  h1 {
    @apply text-9xl breakpoint:text-4xl
  }

  .active {
    @apply underline underline-offset-8
  }
}

@layer utilities {
    @variants responsive {
      /* Chrome, Safari, Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      .no-scrollbar {
          -ms-overflow-style: none;  /* IE, Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
}